body {
  font-family: sans-serif;
  font-size: 16px;
}
.select {
  padding: 10px 20px;
  color: #000;
  background: #fff;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}
.btn {
  background: #053599;
  border: 1px solid #053599;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background: #00b1fe;
  border-color: #00b1fe;
}
.result {
  margin-bottom: 20px;
}
.container {
  padding: 40px 80px;
}
